* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

body {
    display: grid;  
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 9fr;
}

.header {
    height: 100px;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.add-book {
    margin-left: 20px;
    background-color: #334155;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 8px;
}

.book-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}